*{
    margin: 0;
    padding: 0;
}

.img {
    width: 90px;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;

}


.h1{
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
}



.table {
    width: 50%;
    margin-bottom: 1rem;
    color: #000000;
    padding: 0 0 0 130px;
    font-size: 20px;
}

.th {
    text-decoration: bold; 
}

.td {
    color: aqua;
    padding: 0 0 0 140px ;
}